{% extends 'base.html' %} {% block content %}

<div class="pagetitle"><b>Badminton</b></div>

<font color="pink" size="6">
    <center> <b><u>{% if message %} {{ message }} {% endif %}</u></b></center>
</font>

<br><br>

<p align="center">
    <font size="4" style="font-style: oblique;" face="Georgia"> Badminton is one our most popular sports, which requires a reservation.<br> We have 8 different courts located both indoors and outdoors.
    </font>
</p>

<br><br><br>
<font size="5">
    <font color="pink" size="6">
        <center> <b><u>Timings</u></b></center>
    </font>
    <table align="center">

        <tr>
            <td width="200"> <b>Weekdays</b></td>
            <td width="250" height="100"> 10:00 AM to 7:00 PM</td>
        </tr>
        <tr>
            <td width="200"> <b>Weekend</b></td>
            <td width="250" height="100"> 10:00 AM to 7:00 PM</td>
        </tr>
        <tr>
            <td width="200"> <b>Holidays</b></td>
            <td width="250" height="100">10:00 AM to 7:00 PM</td>
        </tr>

    </table>
</font>
<br><br><br>
<font size="5">
    <center><b><u>Reserve A Court</u></b> </center>
</font>
<br>


<table align="center" border="3px">
    <tr>
        {% if request.user.is_authenticated %}
        <td width="700">

            <form action="{% url 'badmintonView' %} " method="POST">
                {% csrf_token %}
                {% if error %}    {{error}}       {% endif %}
                {{ form.as_p }}
                <input type="submit" value="Reserve">
            </form>
        </td>
        {% else %}
        <td style='vertical-align: middle; text-align: center; padding:20px;'>
          Please <a href="{% url 'signupView' %}">sign up</a> or <a href="{% url 'loginView' %}">login</a> to reserve a court.
        </td>
        {% endif %}
    </tr>
</table>
<br><br><br> {% endblock %}
