<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {%load static %}
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
    <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css " integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z " crossorigin="anonymous ">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>

    <title> Olympia Sports Center </title>
</head>

<body>

    <div class="olympia">
        <h1 style="font-size:8vw ">
            OLYMPIA
            <font style="font-size: 5vw" color=pink>sports center</font>



        </h1>
    </div>

    <font size="2 " face="Times New Roman ">

        <nav class="navbar navbar-light bg-light">


            <a class="navbar-brand " href="{% url 'homepageView' %} ">Home</a>
            <a class="navbar-brand " href="{% url 'gymView' %} "> Gym</a>


            <a class="navbar-brand " href="{% url 'tennisView' %} ">Tennis</a>

            <a class="navbar-brand " href="{% url 'squashView' %} ">Squash</a>

            <a class="navbar-brand " href="{% url 'badmintonView' %} ">Badminton</a>
            <a class="navbar-brand " href="{% url 'tabletennisView' %} ">Table Tennis</a>
            <a class="navbar-brand " href="{% url 'feesView' %} ">Fees</a> {% if user.is_authenticated %}
            <a class="navbar-brand " href="{% url 'logoutView' %}" onClick="document.getElementById('logoutform').submit()">Logout</a>
            <form id="logoutform" method="POST " action="{% url 'logoutView' %} ">
                {% csrf_token %}
                <input type="hidden" />
            </form>
            {% else %}
            <a class="navbar-brand " href="{% url 'loginView' %} ">Login</a>
            <a class="navbar-brand " href="{% url 'signupView' %} ">Sign Up</a> {% endif %}






        </nav>
    </font>

    {% block content %} {% endblock %}

    <div class="contact ">
        <table class="table table-borderless table-dark ">
            <thead>
                <tr>
                    <th scope="col "></th>
                    <th scope="col ">Contact</th>
                    <th scope="col ">Social Media</th>
                    <th scope="col ">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row " width=100></th>
                    <td>Telephone: 365863547</td>
                    <td>Instagram: @olympiasports</td>
                    <td>Address: 5-6-7 Tej Mahal Road</td>
                </tr>
                <tr>
                    <th scope="row "></th>
                    <td>Email: contactolympia@olympiasports.com</td>
                    <td>Facebook: @olympiasportscenter</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row "></th>
                    <td></td>
                    <td>Twitter: @olympiaspcenter </td>
                </tr>
            </tbody>
        </table>

    </div>
