{% extends 'base.html' %} {% block content %}

<body>
    <div class="pagetitle">
        <b>The Gym</b>
    </div>

    <br><br>
    <p align="center">
        <font size="4" style="font-style: oblique;" face="Georgia"> The gym at Olympia is full of excellent well-maintained equipment that can be used by our members.<br> There are no reservations required to use any of the gym equipment.
        </font>
    </p>
    <br><br><br>
    <font size="5">
        <font color="pink" size="6">
            <center> <b><u>Timings</u></b></center>
        </font>
        <table align="center">

            <tr>
                <td width="200"> <b>Weekdays</b></td>
                <td width="250" height="100"> 5:00 AM to 10:00 PM</td>
            </tr>
            <tr>
                <td width="200"> <b>Weekend</b></td>
                <td width="250" height="100"> 5:00 AM to 10:00 PM</td>
            </tr>
            <tr>
                <td width="200"> <b>Holidays</b></td>
                <td width="250" height="100">9::00 AM to 7:00 PM</td>
            </tr>

        </table>
    </font>
    <br><br><br> {% endblock %}
