{% extends 'base.html' %} {% block content %}
</font>
{% load static %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'gym1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'tbpic.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'tbpic.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="homepara ">
    <p>
        Olympia Sports Center is a world class sports center, consisting of state of the art facilites. We are the perfect solution for anyone who wisehes <br> to partake in any sort of physical activity. Along with a gym, Olympia provides <br> members
        the oppurtunity to participate in many different sports.
    </p>
    <p>
        Whether you are looking to exercise for heath or just for fun, Olympia is the answer.
    </p>
</div>
<br><br><br><br>
<br><br><br> {% endblock %}