<html>
{% extends 'base.html' %} {% block content %} {% if error %} {{ error }}
<br>
<br> {% endif %}

<div class="pagetitle"><b>Login</b></div>

<body>
    <table align="center" border="3px">

        <tr>
            <td width="700">
                <form method="POST">
                    {% csrf_token %} {% if error %} {{ error }} {% endif %} {{ form.as_p }}
                    <input type="submit" value="Log in" class="form class-control" />
                </form>

            </td>
        </tr>
    </table>

    <br><br><br> {% endblock %}

</body>

</html>