<html>
{% extends 'base.html' %} {% block content %} {% if error %} {{ error }}
<br>
<br> {% endif %}

<div class="pagetitle"><b>Login</b></div>

<body>
    <table align="center" border="3px">

        <tr>
            <td width="700">
                <form method="POST" action="{% url 'signupView' %}">
                    {%csrf_token %} Username:
                    <br>

                    <input type="text" class="form-control" name="username">

                    <br><br>Password:
                    <br>
                    <input type="password" class="form-control" name="password">
                    <br>
                    <center><input type="submit" value="Enter" class="btn btn-primary"></center>
                </form>
            </td>
        </tr>
    </table>

    <br><br><br> {% endblock %}

</body>

</html>