.olympia {
    color: whitesmoke;
    font-size: 40vw;
    -webkit-text-stroke: 1px whitesmoke;
    background-color: black;
}

.sportdescription {
    font-size: 4px;
    font-style: oblique;
    font-family: Georgia;
}

.sports {
    color: pink;
    font-size: 6vw;
}

.homepara {
    color: black;
    font-style: bold;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 25px;
}

.pagetitle {
    color: black;
    -webkit-text-stroke: 1px pink;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.register {
    font-size: 30px;
}