<html>
{% extends 'base.html' %} {% block content %} {% if error %} {{ error }}
<br>
<br> {% endif %}


<div class="pagetitle">
    <b> Sign Up</b>
</div>

<body>
    <table align="center" border="3px">

        <tr>
            <td width="700">
                {% if message %} {{ message }}  {% endif %}
                <form action="{% url 'signupView' %} " method="POST">
                    {% csrf_token %} {% if error %} {{error}} {% endif %} {{ form.as_p }}
                    <input type="submit" value="Sign Up" class="form class-control" />

                </form>

            </td>
        </tr>

    </table>
    <br><br><br> {% endblock %}

</body>

</html>