<html>

<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <title> olympia </title>
</head>

<body>

    <img src="orangelogo.JPG" class="leftpic" align="left" width="150px" height="140|
    
    
    
    
    px">
    <img src="orangelogo.JPG" class="rightpic" align="right" width="150px" height="140px">
    <div class="title">
        <h1 style="font-size:8vw">
            <font size=>OLYMPIA</font>
        </h1>
    </div>
    <font size="2" face="Times New Roman">

        <nav class="navbar navbar-dark bg-dark">


            <a class="navbar-brand" href="homepage.html">Home</a>
            <a class="navbar-brand" href="#"> Gym</a>


            <a class="navbar-brand" href="#">Basketball</a>



            <a class="navbar-brand" href="#" id="tbDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tennis
          </a>
            <div class="dropdown-menu" aria-labelledby="tbDropdown">
                <a class="dropdown-item" href="#">Table Tennis</a>
                <a class="dropdown-item" href="#">Lawn Tennis</a>
            </div>
            <a class="navbar-brand" href="#">Badminton</a>
            <a class="navbar-brand" href="#">Squash</a>
            <a class="navbar-brand" href="#">Swimming</a>
            <a class="navbar-brand" href="#">Gymnastics</a>
            <a class="navbar-brand" href="#">Dance Studio</a>
            <a class="navbar-brand" href="#">Login</a>
            <a class="navbar-brand" href="#">Sign Up</a>
            <a class="navbar-brand" href="#">Fees</a>
            <a class="navbar-brand" href="#">FAQ</a>




        </nav>
    </font>
    <h2 class="gymtitle">

        <center><b>GYM</b></center>
    </h2>
    <br><br>
    <div class="gymhead">
        <p>

            Here at Olympia we have a state of the art gym which can be used by any member of <br> our center. No reservations are required


        </p>
        <br>
    </div>
    <div class="gymtimings">
        <p>
            The timings are as follows:
            <br>Weekdays: 5:00 AM to 9:00 PM
            <br>Weekends: 7:00 AM to 7:00 PM
            <br>Holidays: 6:00 AM to 8:00 PM

        </p>
    </div>
</body>

</html>