<html>

<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <title> olympia </title>
</head>

<body>

    <img src="orangelogo.JPG" class="leftpic" align="left" width="150px" height="140|
    
    
    
    
    px">
    <img src="orangelogo.JPG" class="rightpic" align="right" width="150px" height="140px">
    <div class="title">
        <h1 style="font-size:8vw">
            <font size=>OLYMPIA</font>
        </h1>
    </div>
    <font size="2" face="Times New Roman">

        <nav class="navbar navbar-dark bg-dark">


            <a class="navbar-brand" href="homepage.html">Home</a>
            <a class="navbar-brand" href="gym.html"> Gym</a>


            <a class="navbar-brand" href="basketball.html">Basketball</a>



            <a class="navbar-brand" href="#" id="tbDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tennis
          </a>
            <div class="dropdown-menu" aria-labelledby="tbDropdown">
                <a class="dropdown-item" href="tabletennis.html">Table Tennis</a>
                <a class="dropdown-item" href="lawntennis.html">Lawn Tennis</a>
            </div>
            <a class="navbar-brand" href="badminton.html">Badminton</a>
            <a class="navbar-brand" href="squash.html">Squash</a>
            <a class="navbar-brand" href="swimming.html">Swimming</a>
            <a class="navbar-brand" href="gymnastics.html">Gymnastics</a>
            <a class="navbar-brand" href="dance.html">Dance Studio</a>
            <a class="navbar-brand" href="food.html">Dining</a>
            <a class="navbar-brand" href="login.html">Login</a>
            <a class="navbar-brand" href="signup.html">Sign Up</a>
            <a class="navbar-brand" href="fees.html">Fees</a>
            <a class="navbar-brand" href="faq.html">FAQ</a>




        </nav>
    </font>
    <h2 class="tbtitle">

        <center><b>TABLE TENNIS</b></center>
    </h2>

    <br><br>
    <img src="tb1.jpg" width="350px" border="2px" height="200px" align="right" padding-right="25px">

    <div class="tbhead">
        <p>

            Olympia offers a number of table tennis sets that can<br> be reserved by our members. All necessary equipment is provided.


        </p>
        <br>
    </div>

    <div class="tbtimings">

        The timings are as follows:
        <br>Weekdays: 10:00 AM to 9:00 PM
        <br>Weekends: 7:00 AM to 7:00 PM
        <br>Holidays: 8:00 AM to 8:00 PM


    </div>



    <br><br><br><br>
    <h2 class="register">

        <center><b>Register</b></center>
    </h2>

    <form action="#" method="POST">
        <label for="First_Name">First Name</label>
        <input type="text" class="form-control" name="First_Name" placeholder="First Name">

        <label for="Last_Name">Last Name</label>
        <input type="text" class="form-control" name="Last_Name" placeholder="Last Name">

        <label for="MemberID">Member ID</label>
        <input type="text" class="form-control" name="MemberID" placeholder="Member ID">

        <label for="R_Date">Registration Date</label>
        <input type="text" class="form-control" name="R_Date" placeholder="YYYY-MM-DD">

        <label for="R_Time">Registration Time</label>
        <input type="time" class="form-control" name="R_Time">

    </form>


    <br><br><br><br><br><br>
    <div class="contact ">
        To Contact Us: <br><br>Telephone:09037847587
        <br> <br>Email: olympiasportinfo@olympia.com<br><br><br> Social Media:<br><br> Instagram/Twitter/Facebook:olympiasports

        <br>
        <br>
        <br>
        <br> Address:<br><br> 5-67 Taj Mahal Road, Mumbai



    </div>


</body>

</html>